* {
  margin: 0;
  padding: 0
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.createStellarAccount {
  min-height: 20vh;
  min-width: 40vw;
  background-color: black;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stellarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  background: black;
  color: white;
  border-radius: 10px;
}

.createKeyLink {
  min-height: 20vh;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stellarAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: black;
  color: white;
  height: 30vh;
  min-width: 50vw;
  border-radius: 10px;
}

.stellarForm label, textarea {
  margin: 10px;
  outline: none;
}

.stellarForm textarea {
  border-radius: 10px;
  border: none;
  padding: 8px;
  min-width: 30vw;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 800px) {
  .stellar {
    width: 60vw;
  }
}
